
<form method="POST">
    <div class="clearfix">
        <label for="classdate">Class Date</label>
        <div class="input">
            <input class="xlarge" id="classdate" name="entry[classdate]" size="30" type="text" value="{{classnote.formattedDate}}" x-webkit-speech="">
        </div>
    </div>
    <div class="clearfix">
        <label for="title">Title</label>
        <div class="input">
            <input class="xlarge" id="title" name="entry[title]" size="30" type="text" value="{{classnote.title}}" x-webkit-speech="">
        </div>
    </div>        

    <div class="clearfix">
        <label for="urltitle">URL Title</label>
        <div class="input">
            <input class="xlarge" id="urltitle" name="entry[urltitle]" size="30" type="text" value="{{classnote.urltitle}}" x-webkit-speech="">
        </div>
    </div>        

    <div class="clearfix">
        <label for="intro">Introduction</label>
        <div class="input">
            <textarea class="xxlarge" id="intro" name="entry[intro]" rows="3">{{classnote.intro}}</textarea>
        </div>
    </div>

    <div id="test">
        {{#notesReadyOptions}}
        {{label}}<br>{{val}}<br>{{selected}}
        {{/notesReadyOptions}}
        
    </div>
    <div class="clearfix">
        <label for="notes">Notes Ready</label>
        <div class="input">
            <select class="medium" name="entry[notesready]" id="notesready">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <label for="notes">Notes</label>
        <div class="input">
            <textarea class="xxlarge" id="notes" name="entry[notes]" rows="3">{{classnote.notes}}</textarea>
        </div>
    </div>

    <div class="clearfix">
        <label for="assignment">Assignment</label>
        <div class="input">
            <textarea class="xxlarge" id="assignment" name="entry[assignment]" rows="3">{{classnote.assignment}}</textarea>
        </div>
    </div>
    
    <div class="clearfix">
        <label for="publishedstatus">Published Status</label>
        <div class="input">
            <select class="medium" name="entry[publishedstatus]" id="publishedstatus">
                <option value="draft">Draft</option>
                <option value="published">Published</option>
            </select>
        </div>
    </div>
    
    <div class="clearfix">
        <div class="input">
            <input type="submit" class="btn primary" value="Save changes" x-webkit-speech="">
        </div>
    </div>
</form>
