  <div class="content">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="page-header">
        <h1>Dynamic Web Development - Spring 2012</h1>
    </div>
    <div class="row">
        <div class="span8" id="subheader">
            <p><a href="http://itp.nyu.edu">Interactive Telecommunications Program</a></p>
            <p>with John Schimmel - <a href="mailto:schimmel@nyu.edu">schimmel@nyu.edu</a></p>
            <p>Tuesdays, 12:30 - 3:00PM</p>
            <p><a href="http://itpwebclass.heroku.com">http://itpwebclass.heroku.com</a></p>

        </div>
        <div class="span8">
            <img src="http://farm4.static.flickr.com/3072/2563408126_933e40b1ee.jpg?v=0" style="float:right;">
            <p style="text-align:right;"><small>photo credit <a href="http://www.jennylc.com">Jenny Chowdhury</a></small></p>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="span12">
        <section id="description">
            <h2>Description</h2>
            <p>If you ever had a need to collect information from users on the web or use external data in your project, understanding web development will make your life much easier.</p>
            <p>The class will cover server-side and client-side web development topics using JavaScript. On the client-side, we will cover traditional JavaScript and the jQuery library to manipulate browser content, create and trigger page events and make AJAX data requests. Developing with NodeJS on the server-side, we will explore receiving input from a user then querying and saving that data to a database, and finally, returning the appropriate content to the client, i.e. HTML or JSON. The websites we use today are rarely on a single database, we will focus on consuming data APIs from websites like Foursquare (for location information), Facebook (for social graph) and Twilio (for SMS and telephony). Going further, we will create custom data APIs for use at ITP and open to the public.</p>
            <p>Students must have prior HTML & CSS experience or be willing to learn it outside of class. Introduction to Computational Media or prior object oriented programming knowledge is required.</p>
        </section>
        
        <section id="requirements">
            <h2>Requirements</h2>
            <ul>
                <li>Students must attend all classes and arrive on time to the start of class and any office hour appointments.</li>
                <li>Respect your fellow students' questions and comments.</li>
                <li>Be 'here'. Participate in class.</li>
                <li>Assignments are given for each class to practice and try out recent topics. All assignments are required and must be completed.</li>
                <li>Stay in touch - please email me if you need to miss class or need extra help.</li>
                <li>No computer usage in class that is not relevant to the current topic.</li>
            </ul>
            
            <h2>Grading</h2>
            <ul>
                <li>33.3% Participation and contributions</li>
                <li>33.3% Completed assignments and documentation</li>
                <li>33.3% Final project and documentation</li>
            </ul>
            
            <h2>Office Hours</h2>
            <p>TBD - Most likely Tuesday or Friday afternoons.</p>
        </section>
        <br/><br/>
        <section id="syllabus">
            <h2>Syllabus</h2>
            {{#classNotes}}
            <div class="classEntry">
                <h3>{{formattedDate}}. {{title}}</h3>
                <div>{{& intro}}</div>

                <div class="content">
                    <ul>
                {{#hasNotes}}
                    <li><a href="/notes/{{urltitle}}">View handout</a></li>
                {{/hasNotes}}
                {{#hasAssignment}}
                        <li><a href="/notes/{{urltitle}}#assignment">View assignment</a></li>
                {{/hasAssignment}}            
                    </ul>
                </div>
            </div>
            {{/classNotes}}
        </section>
        
        
      </div>
    </div>

    <footer>
      <p></p>
    </footer>
  </div>

